body {
}

.centered {
  height: 90vh;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.content {
  width: 800px;
}

#d3 {
}

.yesDoping {
  fill: orangered;
}

.noDoping {
  fill: yellowgreen;
}
