body {
}

.centered {
  height: 90vh;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.content {
  width: 800px;
}

#d3 {
}

.yesDoping {
  fill: orangered;
}

.noDoping {
  fill: yellowgreen;
}

text {
  font-family: sans-serif;
}

.markerText {
  font-size: 12px;
}

.legend text {
  font-size: 14px;
}
